{% extends 'ZzCoreBundle::base.html.twig' %}

{% trans_default_domain 'ZzPyroBundle' %}

{% block title %}{{ 'title' |trans }} - {{ parent() }}{% endblock %}

{% block css_lib %}
	{{ parent() }}
	{# {% stylesheets 'bundles/zzpyro/css/bootstrap/dist/css/bootstrap.css' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %} #}
{% endblock %}

{% block js_lib %}
	{{ parent() }}
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="{{ asset('bundles/zzpyro/js/lib/urlobject.js') }}"></script>
	<script src="{{ asset('bundles/zzpyro/js/lib/jquery.regex_selector.js') }}"></script>
	<script src="{{ asset('bundles/zzpyro/js/lib/jquery.findby.js') }}"></script>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/zzpyro/js/form/select_or_text.js') }}"></script>
	<script src="{{ asset('bundles/zzpyro/js/form/collections.js') }}"></script>
	<script src="{{ asset('bundles/zzpyro/js/form/transform.js') }}"></script>
	<script src="{{ asset('bundles/zzpyro/js/form/elements.js') }}"></script>
	<script src="{{ asset('bundles/zzpyro/js/form/control.js') }}"></script>
	<script src="{{ asset('bundles/zzpyro/js/user.js') }}"></script>
	<script src="{{ asset('bundles/zzpyro/js/ajax.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="body_container">
		<div id="header_container">
			<header>
				<div class="titles">
					<h1><a href="{{ path('zz_pyro_homepage') }}">
						{{ 'header.sitename' |trans }}
					</a></h1>
					<h2>{{ 'header.subtitle' |trans }}</h2>
				</div>
				<div class="links">
					<p>
						<a href="https://www.youtube.com/user/DansLeDoute">
							<i class="fa fa-hand-o-right"></i>
							{{ 'header.link_yt' |trans }}
						</a>
					</p>
					<p>
						<a href="https://www.youtube.com/user/izzyManiaKK">
							<i class="fa fa-hand-o-right"></i>
							{{ 'header.link_izzi' |trans }}
						</a>
					</p>
				</div>
			</header>
		</div>
		<div id="bodier_container">
			<nav>
				<a href="{{ path('zz_pyro_bestof_manage') }}">{{ 'nav.manage' |trans }}</a>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<a href="{{ path('fos_user_security_logout') }}">
						{{ 'nav.logout' |trans }}
					</a>
				{% endif %}
			</nav>
			<section id="bodier" {% block bodier_attr %}{% endblock %}>
				{% block bodier %}{% endblock %}
			</section>
		</div>
	</div>
{% endblock %}
