{% extends 'ZzPyroBundle::layout.html.twig' %}

{% trans_default_domain 'ZzPyroBundle_bestof' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/zzpyro/css/bestof.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block bodier %}
{% autoescape false %}
	<section id="bestof">
		<h1>{{ 'add.title' |trans }}</h1>
		<p class="caution">
			{{ 'add.caution' |trans }}
		</p>
		{{ render(controller('ZzPyroBundle:Form/BestOf:add')) }}
	</section>
{% endautoescape %}
{% endblock %}
