{% extends 'ZzPyroBundle::layout.html.twig' %}

{% trans_default_domain 'ZzPyroBundle_bestof' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/zzpyro/css/bestof.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block js_lib %}
	{{ parent() }}
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="{{ asset('bundles/zzpyro/js/listen_yt.js') }}"></script>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% if bestof.done %}
		<script>
			var player;
			listenYt(function () {
				player = new YT.Player('youtube_player', {
					videoId: '{{ bestof.video.id }}',
				});
			});
		</script>
	{% endif %}
	<script src="{{ asset('bundles/zzpyro/js/video.js') }}"></script>
{% endblock %}

{% block bodier %}
{% autoescape false %}
	<section id="bestof">
		<h1>
			{{ 'bestof' |trans }}
			<a href="{{ path('zz_pyro_bestof_display', { 'id': bestof.id }) }}">
				{{ bestof.name }}
			</a>
		</h1>
		<p class="meta">
			{{ 'managedBy' |trans({
				'%user%': '<a href="">' ~ bestof.manager.user.username ~ '</a>',
				'%date%': bestof.proposalDate |localizeddate('long', 'none')
			}) }}
		</p>
		{% if bestof.done %}
			<p>
				{{ 'published' |trans({
					'%date%': bestof.endDate |localizeddate('long', 'none')
				}) }}
			</p>
			
			<div id="youtube_player"></div>
		{% endif %}
		
		<h2>{{ 'videos' |trans }}</h2>
		{% import "ZzPyroBundle:BestOf:videos.macro.html.twig" as videos %}
		{{ videos.list(bestof) }}
	</section>
{% endautoescape %}
{% endblock %}
