{% extends 'ZzPyroBundle::layout.html.twig' %}

{% trans_default_domain 'ZzPyroBundle_index' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/zzpyro/css/index.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block bodier %}
{% spaceless %}
	<section id="content">
		<article>
			<h1>{{ 'published' |trans }}</h1>
		</article>
		<article>
			<h1>{{ 'goal' |trans }}</h1>
		</article>
		<article id="article_bestof">
			<h1>{{ 'bestof' |trans }}</h1>
			
			{% for bestof in bestofList %}
				<div>
					<h2>
						<a href="{{ path('zz_pyro_bestof_display', { 'id': bestof.id }) }}">
							{{ bestof.title }}
						</a>
						(<a href="#" class="meta">{{ bestof.manager.user.username }}</a>)
					</h2>
					{% import "ZzPyroBundle:BestOf:videos.macro.html.twig" as videos %}
					{{ videos.list(bestof) }}
				</div>
			{% endfor %}
			<p>
				<a href="{{ path('zz_pyro_bestof_add') }}" class="button">
					{{ 'add_bestof' |trans }}
				</a>
			</p>
		</article>
	</section>
	<section id="part">
		{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<section id="user_login_container"
					 class="form_container"
					 path="{{ path('fos_user_security_login') }}">
			</section>
			<section id="user_register_container"
					 class="form_container"
					 path="{{ path('fos_user_registration_register') }}">
			</section>
		{% else %}
			{# {{ render(controller('ZzPyroBundle:Form/Extract:add')) }} #}
		{% endif %}
	</section>
{% endspaceless %}
{% endblock %}
