{% extends 'ZzPyroBundle::layout.html.twig' %}

{% trans_default_domain 'ZzPyroBundle_index' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/zzpyro/css/index.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/zzpyro/js/user.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="body_container">
		<div id="header_container">
			<header>
				<div class="titles">
					<h1>{{ 'header.sitename' |trans }}</h1>
					<h2>{{ 'header.subtitle' |trans }}</h2>
				</div>
				<div class="links">
					<p>
						<a href="https://www.youtube.com/user/DansLeDoute">
							<i class="fa fa-hand-o-right"></i>
							{{ 'header.link_yt' |trans }}
						</a>
					</p>
					<p>
						<a href="https://www.youtube.com/user/izzyManiaKK">
							<i class="fa fa-hand-o-right"></i>
							{{ 'header.link_izzi' |trans }}
						</a>
					</p>
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<a href="{{ path('fos_user_security_logout') }}">
							{{ 'header.logout' |trans }}
						</a>
					{% endif %}
				</div>
			</header>
		</div>
		<div id="bodier_container">
			<section id="bodier">
				<section id="content">
					<article>
						<h1>Les derniers best-of</h1>
					</article>
					<article>
						<h1>Objectif de la semaine</h1>
					</article>
					<article>
						<h1>Vidéos à couvrir</h1>
					</article>
				</section>
				<section id="part">
					{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<section id="user_login_container"
								 path="{{ path('fos_user_security_login') }}">
						</section>
						<section id="user_register_container"
								 path="{{ path('fos_user_registration_register') }}">
						</section>
					{% else %}
						{{ render(controller('ZzPyroBundle:Extract:add')) }}
					{% endif %}
				</section>
			</section>
		</div>
	</div>
{% endblock %}
